{% form_theme form 'fields.html.twig' %}

<form action="{{ url|e }}" method="post" class="form-horizontal">
    {% block form_content %}
        {{ form_widget(form, {form_type: 'horizontal'}) }}
    {% endblock %}
    <div class="btn-group pull-right">
        <input type="submit" class="btn btn-primary" value="Continue" />
    </div>
</form>

{% block javascript %}
{% endblock %}