{% extends "Registration/Step/default.html.twig" %}

{% block form_content %}
    {{ form_row(form.dietaryRequirementsListed, {'form_type':'horizontal'}) }}
    <div id="whenOtherSelected">{{ form_row(form.dietaryRequirementsSpecific, {'form_type':'horizontal'}) }}</div>
    {{ form_rest(form, {'form_type':'horizontal'}) }}
{% endblock %}