{% extends "Registration/Step/default.html.twig" %}

{% block form_content %}
    <p>Please enter the name and address of a person we should contact in case of emergency.</p>
    {{ parent() }}
{% endblock %}