{% extends "Registration/Step/default.html.twig" %}

{% block form_content %}
    <p>All teaching is in English. Students for whom English is not their first language are asked to satisfy themselves
    that they have the required near-native command of the language to get the maximum benefit from studying with ICE.
    Please be aware that less than native fluency in both spoken and written English may affect a student's success
    on a course</p>
    {{ parent() }}
{% endblock %}
