{% extends "Registration/Step/default.html.twig" %}

{% block form_content %}
    <p>
        Please select at least one subject from the available options below. Please note that we
        recommend a <strong>maximum of four</strong> subjects.
        We are unable to make changes to the timetable for individual choices, therefore, please check the <a target="_blank" href="http://www.ice.cam.ac.uk/institute-media/ctms/pdfs/llb_and_diploma_in_law_revision_programme_timetable_2014_1602.pdf">timetable</a>
        carefully before you book.
    </p>

    <p>
        Please note that there is a  non-refundable registration fee of <strong>&pound;{{ (tuitionFeePence / 100) | number_format(2) }} in addition</strong> to the
        subject fees for your selected subjects.
    </p>

    {{ form_row(form.subjectChoices, {'form_type':'horizontal'}) }}
    {{ form_rest(form, {'form_type':'horizontal'}) }}
{% endblock %}