{% extends "Registration/Step/default.html.twig" %}

{% block form_content %}
    <p>We require three copies of a recent passport-sized photograph (height 5.5cm x width 4cm), in order to produce an
        identity card for use during your studies. These can be sent either be sent by post or email to:</p>
    <p>
        Records Team<br/>
        Registry<br/>
        Institute of Continuing Education<br/>
        Madingley Hall<br/>
        Madingley<br/>
        CB23 8AQ<br/>
    </p>
    <p>
        <a href="mailto:icerecords@ice.cam.ac.uk">icerecords@ice.cam.ac.uk</a>
    </p>

    {{ form_row(form.photoMethod, {form_type:'horizontal'}) }}
    {{ form_rest(form) }}
{% endblock %}