{% extends "Registration/Step/default.html.twig" %}

{% block form_content %}
<p>The standard fee for this course is &pound;{{ (courseFee / 100) | number_format(2) }}.</p>

    <ul>
        <li>A discounted fee of &pound;770 is available to applicants who have been members of the
            <a href="http://www.sprweb.com/" target="_blank">Society of Property Researchers</a> (SPR) for a minimum of
            one year. The 30% SPR members discount is subsidised by the SPR</li>
        <li>A discounted fee of &pound;990 is available to members of SPR affiliates (<a href="http://www.thesla.com/" target="_blank">SLA</a>, <a href="http://www.the-apl.com/" target="_blank">APL</a>)</li>
    </ul>

    {{ form_row(form.propertyResearchDiscount, {form_type:'horizontal'}) }}

    <p>The course fee includes accommodation for the duration of the course. There are also a limited number rooms
       available at Madingley Hall for the preceding night, with breakfast included.</p>
    {{ form_row(form.accommodationBefore, {form_type:'horizontal'}) }}
    {{ form_rest(form) }}
{% endblock %}