{% extends "Registration/Step/default.html.twig" %}

{% block form_content %}
    <p>We invite disclosure from anyone who feels they may have a disability or other condition which is likely to
        require additional support during their selected course(s).</p>
    <p>By supplying this information you may be put in contact with our Disability Advisor to establish what support,
        if any, is required to enable you to study effectively. Please contact
        <a href="mailto:studentsupport@ice.cam.ac.uk">studentsupport@ice.cam.ac.uk</a> if you have any questions.</p>
    {{ form_row(form.additionalNeeds, {'form_type':'horizontal'}) }}
    <div id="whenAdditionalNeedsYes">{{ form_row(form.additionalNeedsDetail, {'form_type':'horizontal'}) }}</div>
    {{ form_row(form.shareSupportNeeds, {'form_type':'horizontal'}) }}
    {{ form_rest(form, {'form_type':'horizontal'}) }}
{% endblock %}