{% extends "Registration/Step/default.html.twig" %}

{% block form_content %}
    <p>Please tick to confirm you have read and accept our <a target="_blank" href="http://www.ice.cam.ac.uk/terms">terms and conditions</a> and our <a target="_blank" href="http://www.ice.cam.ac.uk/studying-with-us/information-for-students/fees-and-refunds">cancellations and refunds policy</a>.</p>

    {{ form_row(form.termsAndConditions) }}

    <p style="margin-top:20px">
        The Institute protects the personal data you have provided in compliance with the 1998 Data Protection Act.
        For further information please see our <a target="_blank" href="http://www.ice.cam.ac.uk/privacy">Privacy Policy</a>.
    </p>

    {{ form_rest(form) }}
{% endblock %}