{% extends "CourseApplication/Step/default.html.twig" %}

{% block form_content %}
    <p>
        {{ form_row(form.cppaStatement.cppaStatement) }}
        <div class="muted word-count" data-target="cppaStatement_cppaStatement"></div>
    </p>
    {{ form_rest(form) }}
{% endblock %}
