{% extends "CourseApplication/Step/default.html.twig" %}

{% block form_content %}
    {% if form.education.highestQualification is defined %}
        <p>
            {{ form_row(form.education.highestQualification) }}
        </p>
    {% endif %}
    <p>
        {{ form_row(form.education.recentInvolvement) }}
    </p>
    {{ form_rest(form) }}
{% endblock %}
