{% extends "CourseApplication/Step/default.html.twig" %}

{% block form_content %}
    <p>
        {{ form_row(form.supplementaryStatement.supplementaryStatement) }}
    </p>
    {{ form_rest(form) }}
{% endblock %}
